/* GLOBAL */
:root {
    --text1: #F7F7F7;
    --bgcolor: #35393C;
    --bgcolor2: #D9D9D9;
    --bgcolor3: #99d6d5;
    --accent: #63CCCA;
    --fs-18: 1.125rem;
    --container: 69.375rem;
}

.accent {
    color: var(--accent);
}

/* sets a standard width/container for the majorit of the objects on the page */
.wrapper {
    width: calc(100% - 2rem);
    max-width: var(--container);
    margin-inline: auto;
}

/* resizes font based on window size */
.fs-resize {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
}

.projects {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.thumbnail {
    border-style: solid;
    border-width: 3px;
    border-color: var(--accent);
    padding: 10px;
    flex: 0 0 350px;
    box-shadow: 10px 10px 5px black;
    margin: 30px;
    background-color: var(--bgcolor2);
    text-align: center;
}

/* this class was necessary to distinguish the feature project size wise from the others */
.featuredProject {
    border-style: solid;
    border-width: 3px;
    border-color: var(--accent);
    padding: 10px;
    box-shadow: 10px 10px 5px black;
    margin: 30px;
    background-color: var(--bgcolor2);
}


/* Transforms based on device */

@media screen and (max-width: 768px) {
    body header, body main h1, main article, body section h1, body section div, body section p, body footer ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 0;
    }             
}      

/* HEADER and NAV Bar */
nav {
    display: flex;
}

nav a {
    text-decoration: none;
    color: var(--text1);
}

nav a:hover {
    color: var(--accent);
}

body header nav ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: var(--fs-18);
    align-self: center;
}

body header nav ul li {
    padding-right: 20px;
}

body > header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

body header {
    display: flex;
    background-color: var(--bgcolor);
    justify-content: space-between;
}

 /* ABOUT ME */

body {
    background-image: url(..//images/boards.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text1);
    font-size: var(--fs-18);
    display: block;
}

body main h1 {
    text-decoration-line: underline;
    text-decoration-color: var(--accent);
    line-height: 1.2;
    margin-top: 16px;
}

main article {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
}

main article p {
    display: flex;
    align-items: center;
}

main article img {
    display: flex;
    padding: 20px;
    align-items: center;
} 

/* PROJECTS*/

body main section h1 {
    display: flex;
    text-decoration-line: underline;
    text-decoration-color: var(--accent);
    line-height: 1.2;
    margin-top: 16px;
    margin-bottom: 16px;
    align-items: center;
}

body main section div header {
    display: flex;
    justify-content: center;
}

body main section div {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

body main section div section p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-18);
    color: var(--bgcolor);
    font-weight: bold;
}

body main section p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail:hover {
    background-color: var(--bgcolor3);
}

.featuredProject:hover {
    background-color: var(--bgcolor3);
}

/* Footer/Contact Me */

body footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: var(--bgcolor);
}

body footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

body footer ul li {
    display: flex;
    padding: 0px 30px;
    align-items: center;
}

body footer ul a {
    display: flex;
    text-decoration: none;
    color: var(--accent);
}

footer a:hover {
    color: var(--text1);
}